.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


section#job {
  padding: 100px 20px;
  background: #f8edeb;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #bc7c7c;
}

div[data-aos] {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

div[data-aos="fade-right"] {
  transform: translateX(-20px);
  opacity: 0;
}

div[data-aos="fade-left"] {
  transform: translateX(20px);
  opacity: 0;
}

div[data-aos="fade-up"] {
  transform: translateY(20px);
  opacity: 0;
}

div[data-aos].aos-animate {
  transform: translateX(0);
  opacity: 1;
}

